/* VARIABLES */
:root{
    --primary-color: #079be2;
    --title-color: #454548;
    --text-color: #5e6a71;
    --text-secondary-color: #b5b5b5;
    --border-color: #d6d6d6;
    --background-primary-color: #fff;
    --background-secondary-color: #f6f6f6;
    --background-terciary-color: #f1f1f1;
    --background-sidebar-color: #0f172a;
    --sidebar-color-text: #FFF;
    --sidebar-color-secondary: #ccd1e0;
    --form-border-color: #ccc;
    --form-background: #f2f2f2;
    --color-cabildo: #ca0928;
    --messages-color: #079be2;
    --messages-background-color: rgba(7,155,226,0.1);
    --calls-color: #28825d;
    --calls-background-color: rgba(30,224,172,0.1);
    --alerts-color: #ca0928;
    --alerts-background-color: rgba(202,9,40,0.1);
  }
  /* GENERAL */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  html, body{
    height: 100%;
    width: 100%
  }
  body{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    min-width: 20rem;    
    width: 100%
  }
  ul, li, a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none
  }    
  input, button {
    background-color: transparent;
    border: 0
  }  
  img{
    height: auto;
    width: auto;
  }
  /* CABECERA */
  header{
    background-color: var(--background-primary-color);
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 16rem 21rem auto;
    grid-template-rows: auto;
    height: 4rem;
    max-height: 4rem;
    position: fixed;
    transition: max-height .5s;
    width: 100%
  }
  header span{
    color: var(--text-color);
    font-size: 1em;    
    font-weight: 700;
    padding-left: .5em;
    text-transform: uppercase
  }
  .admin-logo{
    display: flex;
    justify-content: center
  }
  .admin-logo img{
    height: 4rem;  
    padding: .75rem;
    transition: max-height .5s
  } 
  .settings-links{
    align-items: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    height: 4rem
  }
  .settings-links li:first-child{
    padding-left: 1rem
  }
  .settings-links li{
    padding-left: .5rem
  }
  .settings-links form{
    background-color: var(--background-secondary-color);
    border-radius: 5px
  }   
  .circle{
    position: relative
  }
  .circle::after{    
    background: var(--color-cabildo);
    border-radius: 50%;
    content:"";
    height: .5rem;
    left: 1.25rem;
    position:absolute;
    top: .55rem;
    width: .5rem
  }
  .admin-search:focus-within {
    border-color: #1579B7;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(20, 118, 180, 0.6);
    outline: 0 none
  }
  .user-nav{
    align-items: center;
    column-gap: .75rem; 
    display: flex;
    font-size: .8em;
    height: 4rem;
    justify-content: flex-end;
    padding-right: 1.5rem
  }
  .detalles-usuario p{
    font-size: .7rem;
    text-transform: uppercase
  }
  .avatar-usuario{
    background-color: var(--background-secondary-color);
    background-image:url('../images/avatar_default.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer; 
    height: 2.25rem;
    width: 2.25rem
  }
  .detalles-usuario{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right
  }
  .desplegable-usuario i{
    color: var(--text-color)
  }
  .desplegable-usuario{
    align-items: center;
    display: flex;
    font-size: 1rem;
    height: 100%;
    justify-content: center
  }
  .submenu-desplegable{
    background-color: var(--background-primary-color);
    box-shadow:0 8px 20px 0 rgba(0,0,0,0.125);
    display: none;
    flex-direction: column;
    font-size: 0.8em;
    height: auto!important;
    padding: 0!important;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 4rem;
  }  
  .submenu-desplegable li{
    border-right: 3px solid var(--border-color); 
    justify-content: flex-start!important;    
    padding: 1.07em 1.75em!important 
  }
  .submenu-desplegable li:hover{ 
    background-color: var(--background-secondary-color);
    border-right: 3px solid var(--primary-color)   
  }
  .submenu-desplegable li:last-child{    
    border-top: 1px solid var(--border-color);
  }
  .submenu-desplegable .icon-item{
    color: var(--primary-color);
    font-size: .8rem;
    padding: 0 0 0 .75em
  }
  .desplegable-usuario:hover > .submenu-desplegable {
    display: block;
    transition: all 1s ease
  }
  .desplegable-usuario:hover > a .icon-item {
    color: var(--primary-color)
  }
  .submenu-desplegable li:hover .desplegable-item {
    color: var(--primary-color);
    transition: all .5s ease
  }  
  @media screen and (max-width: 992px) {
    .detalles-usuario{
      display: none
    }
  }
  @media screen and (max-width: 768px) {
    header{
      grid-template-columns: 16rem 10.25rem auto
    }
    .search{
      display: none
    }
  }
  @media screen and (max-width: 596px) {
    header{
      grid-template-columns: 5rem 10.25rem auto
    }
    .search{
      display: none
    }
    .desplegable-usuario{
      display: none
    }
  }
  /* CONTENIDO */
  .wrapper{    
    display: flex;
    justify-content: space-between;
    width: 100%
  }
  .sidebar{
    align-items: center;
    background-color: var(--background-sidebar-color);
    display: flex;
    flex-direction: column;
    height: 100vh;    
    left: -100%; 
    position: fixed;
    transition: all 0.3s ease;
    width: 16rem
  }
  .sidebar p,
  .main-nav a{
    color: var(--sidebar-color-secondary);
    font-size: .875rem
  }
  .sidebar .text-secondary{
    font-size: .75rem
  }
  .sidebar .text-white{
    color: var(--sidebar-color-text)
  }
  .info-user{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .avatar-sidebar{
    height: 5rem;
    margin: 1.5rem 0;
    width: 5rem
  }
  .options-user{
    align-self: flex-start;
    padding: 1.5rem;
    margin-top: 1.5rem;
    width: 100%
  }
  .sidebar h2{
    color: var(--primary-color);
    font-size: 1rem;
    text-transform: uppercase
  }
  .sidebar h3{
    color: var(--sidebar-color-secondary);
    font-size: .75rem;
    font-weight: 700
  }
  nav{
    padding: 1rem 0
  }
  .main-nav li{
    padding: .625rem
  }
  .main-nav li:hover{
    background: rgba(255,255,255,.1);
    border-radius: 5px
  }
  .main-nav li:hover .icon-sidebar-item,
  .main-nav li:hover span{
    color: var(--sidebar-color-text)
  }
  .main-nav a{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto
  }
  .main-nav span{
    font-size: .825rem;
    font-weight: 500;
    text-transform: uppercase
  }
  .escritorio{
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: column;
    margin: 4rem 0 0 16rem;
    padding: 1.5rem; 
    width: 100%
  }
  .top-wrapper,
  .title-wrapper{
    background-color: var(--background-primary-color)
  }
  .top-wrapper{
    display: grid;
    grid-template-areas: "tw-titulo ."
                         "tw-fecha tw-migas";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 1.5rem    
  }
  .top-wrapper h1{
    font-size: 2rem;
    font-weight: 700;
    grid-area: tw-titulo
  }
  .top-wrapper p,
  .top-wrapper span,
  .main-wrapper span{
    color: var(--text-color);
    font-size: 1rem
  }
  .top-wrapper p{    
    grid-area: tw-fecha
  }
  .fecha{
    font-weight: 600;
    padding: .125rem
  }
  .migas{
    display: flex;
    grid-area: tw-migas;
    justify-content: flex-end
  }
  .migas a,
  .migas span{
    color: var(--title-color);
    font-size: .875rem
  }
  .migas a{
    font-weight: 700
  }
  .migas a span:hover{
    color: var(--text-secondary-color)
  }
  .title-wrapper{
    padding: 0 1.5rem
  }
  .title-wrapper h2{
    background-color: var(--background-secondary-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.125rem;
    padding: 1rem;
    width: max-content
  }
  .main-wrapper{
    padding: 1.5rem 0
  } 
  .main-wrapper h3{
    font-size: 1rem;
    padding: 0 0 1.5rem 1.5rem
  } 
  .cards-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
  }
  .cards-panel,
  .actividad-reciente{
    padding: 1.5rem 0
  }
  .cards{
    align-items: center;
    background-color: var(--background-primary-color);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas: "icono numero"
                         ". texto";
    height: auto;
    justify-items: center;
    padding: 1rem 1.5rem 1.5rem;
    width:100%  
  }
  .num-notifications{
    font-weight: 700;
    font-size: 3rem
  }
  .cards-area-icono{
    grid-area: icono
  }
  .cards-area-numero{
    grid-area: numero
  }
  .cards-area-texto{
    grid-area: texto
  }
  .actividad-container{
    background-color: var(--background-primary-color);
    height: auto;
    padding: 1.5rem;
    width: 100%
  }
  .actividad-item{
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    padding: 1rem 0
  }
  .actividad-item:first-child{
    padding-top: 0
  }
  .actividad-item:last-child{
    border-bottom: none;
    padding-bottom: 0
  }
  .actividad-informacion{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem
  }
  .marcador-hora{
    font-size: .75rem!important
  }
  .mostrar-actividad{
    padding: 1.5rem 0
  }
  .mostrar-actividad i,
  .mostrar-actividad span{
    color: var(--text-secondary-color)
  }
  .mostrar-actividad a:hover i,
  .mostrar-actividad a:hover span{
    color: var(--title-color)
  }
  .header-profile{
    align-items: center;
    background-color: var(--background-primary-color);
    display: grid;
    gap: 1rem;
    grid-template-columns: 7rem repeat(3, auto);
    justify-items: center;
    margin-bottom: 1.5rem;
    padding: 1.5rem
  }
  .avatar-profile{
    cursor: default;
    height: 7rem;
    width: 7rem
  }
  .avatar-nombre-completo{
    display: flex;
    flex-direction: column
  }
  .avatar-nombre,
  .avatar-apellidos{
    font-weight: 700;
    font-size: 1.375rem;
  }
  .contactos-usuario{
    display: flex;
    flex-direction: column;
  }  
  .item-contacto-usuario{
    padding: .25rem 0
  }
  .ilustracion-perfil{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 4.5rem;
    width: 100%
  }
  .ilustracion-perfil img{
    height: 100%;
    object-fit: cover;    
  }
  .notificaciones-usuario{
    display: flex
  }
  .notificaciones-llamadas{
    border-right: 1px solid var(--border-color);
    padding-right: 1rem;
    text-align: right
  }
  .notificaciones-mensajes{
    padding-left: 1rem
  }
  .texto-notificaciones{
    font-weight: 700;
    padding-top: .5rem
  }
  .numero-notificaciones{
    color: var(--title-color)!important;
    font-size: 1.5rem!important;
    font-weight: 700
  }
   /* PÁGINAS FORMULARIOS  */
   .main-profile{
     display: flex;
     width: 100%;
     height: max-content;     
     margin-bottom: 2rem;
     gap: 1.5rem;
   }
   .info-profile,
   .password-profile{
    display: flex;
    flex-direction: column; 
    width: 100%;
   }
  .formulario-perfil,
  .formulario-password{
    background-color: var(--background-primary-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 1.5rem 1rem
  } 
  fieldset{
    border: none
  }
  .campo-formulario{
    display: flex;    
    flex-direction: column
  }
  fieldset input,
  fieldset textarea,
  fieldset select,
  .subir-foto{
    background-color: var(--form-background);
    border-radius: 3px;    
    border: 1px solid var(--form-border-color);
    display: block;
    line-height: 1.5;
    margin-bottom: .625rem;
    padding: 0rem .625rem;
    width: 100%
  }
  fieldset input,
  fieldset select{    
    height: 1.75rem
  }
  fieldset textarea{
    font-family: 'Open Sans',sans-serif;
    height: 5rem
  }
  fieldset select{    
    cursor: pointer
  }
  fieldset input:focus,
  fieldset textarea:focus,
  fieldset select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(7, 155, 226, 0.6);
    outline: 0 none
  }
  fieldset input:focus:required:invalid,
  fieldset textarea:focus:required:invalid{
    border-color: var(--error-color);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(202, 9, 40, 0.6);;
    outline: 0 none
  }
  fieldset input::placeholder{
    color: var(--text-secondary-color)
  } 
  fieldset span {
    color: var(--title-color);
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    font-weight: 400
  }
  fieldset label{
    display: flex;
    align-content: center;
    padding: .5rem 0;
  }
  .boton-formulario{
    align-self: center;    
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(69, 69, 72, 0.2);    
    cursor: pointer;
    height: max-content;
    padding: .8em 1.3em;
    text-align: center
  }
  .boton-enviar{
    background-color: var(--background-primary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .boton-enviar:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--sidebar-color-text);
  }
  .boton-cancelar{
    background-color: var(--background-primary-color);
    border: 1px solid var(--alerts-color);
    color: var(--alerts-color);
  }
  .boton-cancelar:hover{
    background-color: var(--alerts-color);
    border: 1px solid var(--alerts-color);
    color: var(--sidebar-color-text);
  }
  .boton-enviar-formulario:hover{
    opacity: .8
  }
  .prefijo{
    margin-right: 1em;
    width: max-content
  }
  .marker{
    cursor:pointer;
    font-size: 1.5em;
    padding-left: .5em
  }   
  .imageup input[type='file']{
    display: none;
  }  
  .imageup-selector{
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 5px solid var(--background-primary-color);
    color:white;
    cursor: pointer;
    float: right;
    font-size: .875rem;
    padding: .75em;
    margin-top: -2rem
  }
  .imageup-selector:hover{
    transform: scale(1.1);
    transition: transform .5s
  }
  .imageup{
    height: 100%;
    width: 100%
  }
  .informacion-personal{
    display: flex;
    flex-direction: column
  }
  .campos-telefono{
    display: flex;
    width: 100%
  }
  .guardar-cambios{
    align-content: flex-start;
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem 0 1rem
  }
  .label-restablecer-password {
    margin: -.5rem 0 .5rem
  }
  .label-restablecer-password span{
    color: var(--primary-color)!important;
    font-size: .75rem!important
  }
  .label-restablecer-password span:hover{
    opacity: .8
  }
   /* RESTO PÁGINAS  */
   .incidencias-container{
     background-color: var(--background-primary-color);
     display: flex;
     flex-direction: column;
     padding: .5rem 1.5rem
   }
   .item-incidencia{
    align-items: center;
    border-bottom: 1px solid var(--form-border-color);
    color: var(--text-color);
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: column dense;
    grid-template-columns: 10% 1fr 1fr 20%;
    justify-items: center;
    padding: 1rem;
    text-align: center
   }
   .item-incidencia p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .cabecera-incidencia{
    font-weight: 700
  }
  .hora-incidencia{
    font-size: .75rem!important;
    font-weight: 700!important
  }
  .estado-incidencia{
    border-radius: 9999px;
    font-size: .625rem;
    font-weight: 800;
    padding: .25rem .5rem;
    text-transform: uppercase
  }
  .pendiente{
    color: var(--alerts-color);
    background-color: var(--alerts-background-color)
  }
  .resuelta{
    color: var(--calls-color);
    background-color: var(--calls-background-color)
  }
  .row-incidencia{
    cursor: pointer
  }
  .row-incidencia:hover,
  .row-incidencia:active{
    background-color: var(--background-secondary-color)
  }
  .controles-incidencias{
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem
  }
  .texto-mostrar-registros,
  .paginacion-incidencias a{
    color: var(--text-color);
    font-size: .875rem;
    font-weight: 700
  }
  .paginacion-incidencias{
    display: flex
  }
  .paginacion-incidencias a:hover{
    opacity: .8
  }
  .numero-paginacion-incidencias{
    background-color: var(--background-secondary-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    margin: 0 .75rem;
    padding: .5rem .75rem
  }
  .add-incidencias{
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem 2.25rem
  }
  .add-incidencias p{
    background-color: var(--background-secondary-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    padding: .75rem 0
  }
  .add-incidencias i{
    font-weight: 900;
    margin-right: .5rem
  }
  .add-incidencias a{
    color: var(--text-color);    
    padding: .75rem
  }
  .add-incidencias:hover a{
    opacity: .8
  }
  .detalles-cabecera-incidencia{
    align-items: center;
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem
  }
  .contenedor-incidencia{
    background-color: var(--background-primary-color);
    padding: 0 1.5rem .5rem
  }  
  .contenedor-fotos{
    background-color: var(--background-primary-color);
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 0 1.5rem 2.5rem
  }
  .images-incidencias{
    background-color: var(--background-secondary-color);    
    border-radius: 3px;
    border: 1px solid var(--border-color);
    height: 15rem;
    justify-self: center;
    object-fit: cover;
    width: 100%
  }
  @media screen and (max-width: 1200px){    
    .notificaciones-usuario{
      display: none
    }
  }
  @media screen and (max-width: 992px){
    .migas{
      display: none
    }
    .ilustracion-perfil{
      display: none
    }
    .header-profile{
      display: flex;
      flex-direction: column;
      gap: .125rem;
      text-align: center
    }
    .avatar-nombre-completo{
      flex-direction: row;
      gap: .5rem;
      white-space:nowrap
    }
    .imageup{
      width: max-content
    }
    .contactos-usuario{
      display: none
    }
    .controles-incidencias{
      padding-bottom: 1.5rem
    }
  }
  @media screen and (max-width: 767px){    
    .controles-incidencias{
      align-items: center;
      flex-direction: column;
      justify-content: center
    }
    .paginacion-incidencias{
      padding-top: .75rem;
      text-align: center
    }
    .texto-mostrar-registros{
      display: none
    }
  }
  @media screen and (max-width: 596px) {
    .sidebar{
      height: calc(100vh - 4rem);
      margin-top: 4rem;
      overflow-y: auto;
      width: 100%
    }
    .sidebar .admin-logo{
      display: none
    }
    .avatar-sidebar{
      height: 6.25rem;
      width: 6.25rem
    }
    .sidebar p{
      font-size: 1.25rem
    }
    .sidebar .text-secondary {
      font-size: 1rem
  }
    .info-user{
      margin-top: 1rem
    }
    .options-user{
      padding: 1.5rem 4rem
    }
    .sidebar h2{      
      font-size: 1.325rem
    }
    .sidebar h3{
      font-size: .825rem
    }
    .icon-sidebar-item{
      font-size: 1.325rem!important
    }
    .main-nav span{
      font-size: 1.25rem
    }    
    .detalles-cabecera-incidencia{
      flex-direction: column
    }
    .icon-incidencia-detalles{
      display: none
    }
  }
  /* FOOTER */
  footer{    
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 1rem;
    height: auto;
    padding: 1rem 0 2rem 0
  }
  footer p{
    padding: 0 1.5rem
  }  
  /* ESPECÍFICO */
  .icon-item{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 900
  }
  .admin-icon-item{
    background-color: var(--background-secondary-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 900;
    padding: .75rem
  }
  .admin-icon-item:hover{
    background-color: var(--background-terciary-color)
  }
  .icon-sidebar-item{
    color: var(--sidebar-color-secondary);
    font-size: .875rem;
    font-weight: 900
  }
  .icon-notificaciones{
    color: var(--sidebar-color-secondary);
    font-size: .875rem;
    padding-right: .5rem
  }
  .icon-cards{
    border-radius:50%;
    font-size: 1.25rem;
    height: max-content;
    padding: .75rem;
    width: max-content
  }
  .icon-header-profile{
    color: var(--text-secondary-color);
    padding: .25rem .5rem .25rem 0;
  }
  .icon-migas{
    padding: 0 .5rem
  }
  .icon-motrar-mas{
    padding: 0 .5rem 0 1.5rem
  }
  .icon-incidencia-detalles{
    color: var(--alerts-color);
    font-size: 1.5rem
  }
  .break-word{
    word-break: break-all
  }
  input:focus{
    border: 0;
    outline: 0 none
  }
  button{
    cursor: pointer
  }
  .visible{
    left: 0%
  }
  .margin-left-0{
    margin-left: 0
  }
  .hide{
    display: none
  }
  .color-llamadas{
    color: var(--calls-color)
  }
  .color-mensajes{
    color: var(--messages-color)
  }
  .color-incidencias{
    color: var(--alerts-color)
  }
  .color-fondo-llamadas{
    background-color: var(--calls-background-color)
  }
  .color-fondo-mensajes{
    background-color: var(--messages-background-color)
  }
  .color-fondo-incidencias{
    background-color: var(--alerts-background-color)
  }
  .obligatorio{
    color: var(--alerts-color)!important;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: .25rem
  }
  .column{
    flex-direction: column;
  }