.migas {
    font-size: .625rem;
    padding: 2rem 5rem
}
.main-wrapper{
    padding: 5rem
}
h1{
    padding: 2rem 5rem
}
.listado-procedimientos{
    gap: 2.05rem  
}
.index::before,
.incidencia::before,
.cabildo::before,
.mapa::before{
    right: 5rem
}
.en-construccion img{
    width: 90%
}
footer{
    padding: 3rem 5rem
}
.top-footer img{
    max-height: 4rem
}