/* WRAPPER */
/*******************************/
.migas {
    padding: 2rem 5rem;
    font-size: .625rem;
}
.main-wrapper{
    padding: 5rem; 
}
h1{
    padding: 2rem 5rem;
}
.listado-procedimientos{
    gap: 2.05rem;
}

/* FOOTER */
/*******************************/
footer{
    padding: 3rem 5rem;
}