.migas {
    padding: 2rem 3rem
}
.main-wrapper{
    padding: 3rem
}
h1{
    padding: 2rem 3rem
}
.procedimientos {
    margin: 3rem 0
}
.listado-procedimientos{
    gap: 2.05rem   
}
.index::before,
.incidencia::before,
.cabildo::before,
.mapa::before{
    right: 3rem
}
.procedimientos::before{
    height: 22rem;
    margin-top: 4rem
}
.content-app-descargas span{
    padding: 0.5em 1em
}
.content-app-descargas img{
    max-height: 3rem
}
.listado-procedimientos a{
    font-size: 1rem;   
    width: 100%
}
.listado-procedimientos img {
    padding-right: 1.5em
}
.item-procedimiento{
    align-items: center;
    flex-direction: row;
    height: 6rem;
    justify-content: flex-start;
    padding: 0 2em;
    width: 100%
}
.item-indent {
    padding-left: 1.5rem
}
.recortar-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}
.top-footer img{
    max-height: 3rem
}