/* VARIABLES */
:root{
    --primary-color: #ca0928;
    --title-color: #454548;
    --text-color: #5e6a71;
    --text-secondary-color: #b5b5b5;
    --text-banner-color: #FFFFFF;
    --border-color: #d6d6d6;
    --form-border-color: #CCCCCC;
    --form-background: #f2f2f2;
    --background-color: #FFFFFF;
    --background-hover-color: #F8F8F8;
    --background-overlay-color: #000000;
    --background-menu-responsive: #ededed;
    --error-color: #721c24;
    --success-color: #155724;
    --info-color: #004085;
  }
  /******************************************* */
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body{
    width: 100%;
    height: 100%;
  }
  body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    min-width: 320px;    
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  ul, li, a {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }    
  input, button {
    border: 0;
    background-color: transparent;
  }
  /******************************************* */
  
  /* CABECERA */
  /*******************************/
  .overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--background-overlay-color);
    transition: all 0.3s ease;
    top:0;
    left:0;
    opacity: .6;
    z-index: 10;
  }
  header{
    background-color: var(--background-color);
    height: 8rem;
    max-height: 8rem;
    transition: max-height .5s;
    display: grid;
    grid-template-columns: 25% 50% 15% auto;
    grid-template-rows: 33% auto;
  }
  header span,
  .header-search span{
    color: var(--text-color);
    text-transform: uppercase;
    padding-left: .5em;
    font-size: 1em;    
    font-weight: 700;
  }
  .logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 8rem;
    grid-area: 1/1/3/2;
    border-right: 1px solid var(--border-color);
  }
  .logo:hover{
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
  .logo img{
    height: auto;  
    max-height: 8rem;  
    transition: max-height .5s;
    padding: 1.25rem 3rem;
  }
  .menu-responsive{
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .portal-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid var(--border-color);
    padding-right: 0.5em;
    font-size: .8em;
    grid-area: 1/2/2/3;
  }
  .portal-nav span:hover{
    color: var(--title-color); 
  }
  .portal-nav ul{
    display: flex;
  }
  .portal-nav ul > li,
  .social-nav ul > li,
  .contact-nav ul > li{
    padding: .75em;
  }
  .main-nav, 
  .search{
    border-top: 1px solid var(--border-color);
  }
  .main-nav{
    grid-area: 2/2/3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border-color); 
  }
  .main-nav ul{
    height: 100%;
    width: 100%;
  }
  .main-nav ul:hover .item-principal{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .main-nav ul:hover .item-principal:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
  .main-nav ul > li{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0em 1.5em;
  }
  .icon-main-nav{
    width: 2.375rem;
    height: auto;
  }
  .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
  }
  .nav-menu a{
    display: flex;
    align-items: center;
  }
  .nav-menu span:hover{
    color: var(--primary-color);
    transition: all 0.5s ease;
  }
  .submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%!important;
    height: auto!important;
    padding: 0!important;
    top: 5.25rem;
    background-color: var(--background-color);
    text-transform: uppercase;
    display: none;
    font-size: 0.8em;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }  
  .submenu li{
    padding: 1em 2em 1em 0em!important;    
    justify-content: flex-start!important;    
    border-left: 3px solid var(--border-color); 
    border-top: 1px solid var(--border-color);
  }
  .submenu li:hover{ 
    border-left: 3px solid var(--primary-color);     
    background-color: var(--background-hover-color);
  }
  .submenu .icon-item{
    padding: 0em 0.3em 0em 0.7em;
  }
  .last-link:hover > ul {
    display: block;
    transition: all 1s ease;
  }
  .cabecera-menu-responsive{
    display: none;
  }
  .social-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    grid-area: 1/3/2/4;
    border-right: 1px solid var(--border-color);
  }
  .social-nav ul{
    display: flex;
  }
  .contact-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1/4/2/5;
  }
  .contact-nav ul{
    display: flex;
  }
  .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    grid-area: 2/4/3/5;
  }
  .contact-links li:last-child{
    display:none;
  }
  .aparecer-menu{
    left: 0!important;
  }
  .btn-responsive{
    visibility: hidden;
    position: absolute;
  }
  .search-page{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: -100%;
    left: 0;
    background: #FFF;
    display: block;
    line-height: 1.25rem;
    overflow-y: auto;
    background-color: var(--background-color);
    transition: all 0.5s ease;      
    z-index: 100;
  }
  .aparecer-busqueda{
    top: 0!important;
  }
  .main-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    margin: 5rem;
  }
  .main-search input{
    width: 100%;
    padding-top: .3rem;
    padding-bottom: .3em;
    border-bottom: 2.5px solid var(--border-color);
    color: var(--text-color);
    font-size: 1em;
    font-weight: 500;
  }
  .main-search input:focus{
    border-color: none;
    outline: 0 none;
  }
  .main-search label{    
    color: var(--text-secondary-color);
    font-size: .75em;
    font-weight: 700;
  }
  .main-search input::placeholder{
    color: var(--text-secondary-color);
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    font-weight: 500;
  }
  input::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }
  header .icon-item:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  .header-search .icon-item{
    font-size: 2rem;
    cursor:pointer;
  }
  .header-search{
    display:flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: var(--background-color);
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.05);
  }
  .header-search img{
    max-height: 3.75rem;
  }
  .headar-search span{
    padding: 0;
  }
  .header-search span:hover{
    color: var(--text-color);
  }

  /* CONTENIDO */
  /*******************************/
  .wrapper{
    flex-grow: 1;
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column; 
  }
  .wrapper-menu{
    top: 0;
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    background-color: var(--background-color);
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    width: 100%;
  }
  .wrapper-logo{
    display: flex;
    padding: 1em;
    align-self: center;
  }
  .wrapper-logo:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  .wrapper-logo img{
    height: auto;  
    max-height: 3rem;  
    transition: max-height .5s;
  }
  .wrapper-menu span{
    color: var(--text-color);
    text-transform: uppercase;
    padding-left: .5em;
    font-size: 1em;    
    font-weight: 700;
  }
  .wrapper .main-nav{
    border: none;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }
  .wrapper .submenu li{
    border-right: 1px solid var(--border-color);
  }
  .wrapper .submenu li:last-child{
    border-bottom: 1px solid var(--border-color);
  }
  .wrapper-search{
    align-self: center;    
  }
  .wrapper-search .icon-item{
    font-size: 2rem;
    padding: 0 2rem;
  }
  .banner{
    height: auto;
    min-height: 16.25rem;
    background-image: url(../images/banner-cabildo-byn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
  .banner::before{
    content: '';
    width: 100%;
    height: 16.25rem;
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    opacity: .5;
    z-index: -1;
  }
  .migas,
  .migas a,
  h1{
    color: var(--text-banner-color);
    z-index: 1;
    text-transform: uppercase;
  }
  .migas{
    padding: 2rem 8rem;
    font-size: .625rem;
  }
  h1{
    padding: 2rem 8rem;
    font-size: 2em;
    text-align: center;
  }
  .main-wrapper{
    padding: 5rem 8rem; 
  }
  .main-wrapper::before{
    content: '';
    width: 100%;
    height: 16.25rem;
    position: absolute;
    right: 8rem;
    top: 30rem;
    background-image: url(../images/alta-incidencias-b.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    opacity: .05;
    z-index: -3;
  }
  .main-wrapper h2{
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  fieldset{
    display: grid;
    grid-template-columns: 20% 30% auto 30%;
    grid-template-rows: repeat(9, auto);
    grid-row-gap: 1rem;
    border: none;
  }
  .label-formulario{
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
  .campo-formulario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: .75rem;
  }
  /*******************************/
  .l-tipo{
    grid-area: 1/1/2/2;
  }
  .c-tipo{
    grid-area: 1/2/2/3;
  }
  .l-nif{
    grid-area: 2/1/3/2;
  }
  .c-nif{
    grid-area: 2/2/3/3;
  }
  .l-nombre{
    grid-area: 2/3/3/4;
  }
  .c-nombre{
    grid-area: 2/4/3/5;
  }
  .l-prmapellido{
    grid-area: 3/1/4/2;
  }
  .c-prmapellido{
    grid-area: 3/2/4/3;
  }
  .l-segapellido{
    grid-area: 3/3/4/4;
  }
  .c-segapellido{
    grid-area: 3/4/4/5;
  }
  .l-email{
    grid-area: 4/1/5/2;
  }
  .c-email{
    grid-area: 4/2/5/3;
  }
  .l-fijo{
    grid-area: 5/1/6/2;
  }
  .c-fijo{
    grid-area: 5/2/6/3;
  }
  .l-movil{
    grid-area: 5/3/6/4;
  }
  .c-movil{
    grid-area: 5/4/6/5;
  }
  .l-observaciones{
    grid-area: 6/1/7/2;
  }
  .c-observaciones{
    grid-area: 6/2/7/3;
  }
  .l-direccion{
    grid-area: 7/1/8/2;
  }
  .c-direccion{
    grid-area: 7/2/8/3;
  }
  .l-coordenadas{
    grid-area: 8/1/9/2;
  }
  .c-coordenadas{
    grid-area: 8/2/9/3;
  }
  .l-foto{
    grid-area: 8/3/9/4;
  }
  .c-foto{
    grid-area: 8/4/9/5;
  }
  .l-verificacion{
    grid-area: 9/1/10/2;
  }
  .c-verificacion{
    grid-area: 9/2/10/3;
  }
  /*******************************/
  
  .formulario-incidencia{
    display: flex;
    flex-direction: column;
  }
  fieldset input,
  fieldset textarea,
  fieldset select{
    border-radius: 3px;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
    padding: 0rem .625rem;
    margin-bottom: .625rem;
    border: 1px solid var(--form-border-color);
    background-color: var(--form-background);
    display: block;
    width: 100%;
  }
  fieldset input,
  fieldset select{    
    height: 1.75rem;
  }
  fieldset select{    
    cursor: pointer;
  }
  fieldset input:focus,
  fieldset textarea:focus,
  fieldset select:focus {
    border-color: var(--title-color);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(69, 69, 72, 0.6);
    outline: 0 none;
  }
  fieldset input:focus:required:invalid{
    border-color: var(--primary-color);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(202, 9, 40, 0.6);;
    outline: 0 none;
 }
 fieldset input::placeholder{
   color: var(--text-secondary-color);
 }
 .boton-enviar-incidencia{
   background-color: var(--primary-color);
   color: var(--text-banner-color);
   padding: .5em 1em;
   border-radius: 3px;
   width: max-content;
   margin-top: 3rem;
   cursor: pointer;
   align-self: center;
 }
 .boton-enviar-incidencia:hover{
  opacity: .8;
}
.prefijo{
  width: 30%;
  margin-right: 1em;
}
.marker{
  cursor:pointer;
  font-size: 1.5em;
  padding-left: .5em;
}
.subir-foto{
  cursor: pointer;
}

  /* FOOTER */
  /*******************************/
  footer{
    background-color: var(--background-color);
    min-height: 11.563rem;
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    font-size: .8rem;
  }
  .main-footer{
    width: 45%;
  }
  footer a{
    color: var(--text-color);
  }
  .main-footer a:hover,
  .footer-main-links a:hover{
    color: var(--primary-color);
  }
  .main-footer ul li{
    padding-bottom: .5em;
  }
  .main-footer .icon-item{
    margin-right: .5em;
  }
  .fa-fax{
    margin-left: 2em;
  }
  .titulo-footer{
    font-weight: bold;
    color: var(--title-color);
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .footer-main-links{
    display: flex;
  }
  .footer-main-links ul,
  .footer-w3c-links ul,
  .footer-logo{
    display:flex;      
    justify-content: flex-end;
  }
  .footer-w3c-links ul{
    padding: .5em;
  }
  .footer-main-links ul li,
  .footer-w3c-links ul li{
      padding: .5em;
  }
  .footer-w3c-links a{
    color: var(--text-secondary-color);
  }
  .footer-w3c-links a:hover{
    color: var(--title-color);
  }

  /* GENERAL */
  /*******************************/
  .hide{
    display: none!important;
  }
  .visible{
    display: block!important;
  }
  .aparecer{
    visibility: visible!important;
  }
  .desaparecer{
    visibility: hidden!important;
  }
  .noscroll{
    overflow: hidden;
  }
  .strong{
    font-weight: bold;
  }
  .scroll{
    overflow: auto;
  }
  .noborder{
    border: none;
  }
  .icon-item{
    font-size: 1rem;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--primary-color);
  }
  .icon-item:hover{
    opacity: 0.7;
    transition: all 0.3s ease;
  }
  .social-icon-item{
    font-size: 1rem;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--text-color);
  }
  .social-icon-item:hover{
    color: var(--primary-color);
    transition: all 0.3s ease;
  }
  .active{
    color: var(--primary-color)!important;
  }
  .borde-rojo{
    border-bottom: 2.5px solid var(--primary-color)!important;
  }
  .obligatorio{
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: bold;
  }
  .fontAwesome {
    font-family: 'Font Awesome 5 Free', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .rotate-180{    
    transform:rotate(180deg);
  }
  .shadow{
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
  .fixed{
    position: fixed;
  }
  .transition{
    transition: all 0.5s ease; 
  }